*{
    box-sizing: border-box;
}

body{
    background: hsl(30, 38%, 92%);
    font-family: "Montserrat";
    color: hsl(228, 12%, 48%);
    font-size: 15px;
}

button{
    background-color: hsl(158, 36%, 37%);
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    border: none;
    display: block;

    width: 236px;
    height: 46px;
    border-radius: 8px;

    padding: 0px;
    margin: 0 auto;

}

h1{
    font-family: "Fraunces";
    font-size: 30px;
    color: hsl(212, 21%, 14%);


    margin-top: 5px;

}

h2{
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

@media (min-width: 375px) and (max-width: 1440px){
    #desktop{
        display: none;
    }
    
    #mobile{
        height: 240px;
        width: 345px;
    }

    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background: hsl(0, 0%, 100%);
    
        width: 345px;
        height: 610px;
        border-radius: 15px;
        overflow: hidden;
    }


}

@media (min-width: 1440px){
    #desktop {
    object-position: left;

    width: 300px;
    height: 450px;
    }

    #mobile{
    display: none;
    }

    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background: hsl(0, 0%, 100%);
    
        column-count: 2;
    
        width: 600px;
        height: 450px;
        border-radius: 15px;
        overflow: hidden;
    }
}

#cart-icon{
    vertical-align: middle;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-top: 5px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.description{
    text-align: left;
}

.product-description {
    padding: 10px 18px;
}

.price{
    display: inline-block;
    padding: 4px;
    margin: 15px 0;
    vertical-align: middle;
}

.sale{
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 30px;
    padding: 0 10px 0 0;
}

.linethrough{
    text-decoration: line-through;
    text-decoration-color: hsl(228, 12%, 48%);
}