*{
    box-sizing: border-box;
}

body{
    background: hsl(30, 38%, 92%);
    font-family: "Montserrat";
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

button{
    background-color: hsl(158, 36%, 37%);
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    border: none;
    display: block;

    width: 236px;
    height: 46px;
    border-radius: 8px;

    margin: 0 auto;
}

h1{
    font-family: "Fraunces";
    color: hsl(212, 21%, 14%);
}

#desktop {
    object-position: left;

    width: 300px;
    height: 450px;
}

#mobile{
    
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: hsl(0, 0%, 100%);

    column-count: 2;

    width: 600px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
}

.price{
    display: inline-block;
}

.sale{
    color: hsl(158, 36%, 37%);
}